<body class="app__body">
  <h1 class="app__heading">ANIMALS</h1>
  <div>

    <app-add-animal-form></app-add-animal-form>

    <div class="app__lists">
      <app-filter-animal-switch></app-filter-animal-switch>

      <div class="animal__container">
        <div 
          *ngFor="let animal of animals; index as index"
          class="animal"
          >
          <span class="animal__species">
            {{animal.species}}
          </span>
          <h4 class="animal__name">
            {{animal.name}}
          </h4>
          <button 
            class="button-delete"
            (click)="onDeleteAnimal(animal)"
          >
            X
          </button>
        </div>
      </div>
    </div>
  
  </div>
</body>